{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liens vers les différentes données des tables</h1>
    <p><a href="/users">/users</a> tous les users.</p>
    <p><a href="/journey">/journey</a> tous les lieux.</p>
    <p><a href="/bookings">/bookings</a> page.</p>
    <p><a href="/contact">/contact</a> tous les messages de contact.</p>
    <p><a href="/celebrity">/celebrity</a> toutes les celebrities.</p>
    <p><a href="/celebrity">/celebrity</a> celebrity par journey.</p>
{% endblock %}
