{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liens vers les différentes tables</h1>
    <p><a href="/users">/users</a> page.</p>
    <p><a href="/journey">/journey</a> page.</p>
    <p><a href="/bookings">/bookings</a> page.</p>
    <p><a href="/contact">/contact</a> page.</p>
    <p><a href="/celebrity">/celebrity</a> page.</p>
{% endblock %}
