{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liens vers les différentes données des tables</h1>
    <p><a href="/users">/users</a> tous les users.</p>
    <p><a href="/journey">/journey</a> tous les séjours.</p>
    <p><a href="/bookings">/bookings</a> page.</p>
    <p><a href="/contact">/contact</a> tous les messages de contact.</p>
    <p><a href="/celebrity">/celebrity</a> toutes les celebrities.</p>
    <p><a href="/celebrity/show?id=1">/celebrity</a> celebrity par id.</p>
    <p><a href="/journey/showCelebrities?id=1">/journey-celebrities</a> celebrities par id du séjour.</p>
{% endblock %}
