@import "../src/style//homepage.scss";
@import "./styles/Navigation.scss";

@import "./styles/Contact.scss";

@import "./styles/Footer.scss";

@import "./styles/Personnages.scss";

@import "./style/categorie.scss";

@import "./styles/echappe.scss";

@import "./style/reservation.scss";

@font-face {
  font-family: "anthemia";
  src: url("./assets/font/anthemia/AnthemiaRegular.ttf");
}
@font-face {
  font-family: "melinda_evania";
  src: url("./assets/font/melinda_evania/MelindaEvania.ttf");
}
@font-face {
  font-family: "romelio";
  src: url("./assets/font/romelio_sans/Romelio.ttf");
}

$color-bg: #d6e5e3;
$color-title: #517664;
$color-nav: #cacfd6;
$color-textshadow: #77af9c;
$color-categorie: #ffffff;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
}
