.container-title {
  text-align: center;
  margin: 20px;
  position: relative;
}

.categorie-img {
  width: 450px;
  height: 300px;
  z-index: 0;
  border-radius: 20px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  box-shadow:
    5px 5px 5px 0px #000000,
    inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.title-cat {
  font-family: "melinda_evania";
  font-size: 3.5em;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow:
    2px 2px 0 #517664,
    2px -2px 0 #517664,
    -2px 2px 0 #517664,
    -2px -2px 0 #517664,
    2px 0px 0 #517664,
    0px 2px 0 #517664,
    -2px 0px 0 #517664,
    0px -2px 0 #517664;
  z-index: 1;
}

.sous-categorie-container {
  text-align: center;
  color: #cacfd6;
  font-size: 2rem;
  width: 400px;
  min-height: 410px;
  margin: 20px auto 50px;
  background-color: #000000;
  box-shadow:
    5px 5px 5px 0px #000000,
    inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px black;
  border-radius: 20px;
  padding: 10px;
  display: flex; /* Ajout */
  flex-direction: column; /* Ajout */
  justify-content: center; /* Ajout */
  align-items: center; /* Ajout */
}

.sous-categorie-container:hover {
  background-color: whitesmoke;
  color: #000000;
}

.sous-categorie-img {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #000000;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide {
  text-align: center;
}

.slide img {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  z-index: 1;
}

.prev {
  left: 5%;
  transform: translateY(-50%);
}

.next {
  right: 5%;
  transform: translateY(-50%);
}

.next img,
.prev img {
  width: 50px;
}
