@charset "UTF-8";

@font-face {
  font-family: "anthemia";
  src: url("./assets/font/anthemia/AnthemiaRegular.ttf");
}

@font-face {
  font-family: "melinda_evania";
  src: url("./assets/font/melinda_evania/MelindaEvania.ttf");
}

$color-bg: #d6e5e3;
$color-title: #517664;
$color-nav: #cacfd6;
$color-textshadow: #77af9c;
$color-categorie: #ffffff;

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.titre-h1 {
  font-family: "anthemia";
  color: $color-title;
  font-size: 1.8rem;
  font-weight: bold;

  h6 {
    display: none;
  }

  .logo {
    width: 100px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $color-textshadow;
    border-bottom: 1px solid $color-textshadow;
    padding: 20px;
    font-family: "anthemia";
  }

  a {
    color: $color-title;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    text-shadow:
      2px 2px 1px $color-nav,
      2px -2px 1px $color-nav,
      -2px 2px 1px $color-nav,
      -2px -2px 1px $color-nav,
      2px 0px 1px $color-nav,
      0px 2px 1px $color-nav,
      -2px 0px 1px $color-nav,
      0px -2px 1px $color-nav;
  }

  a:hover {
    color: $color-nav;
    text-shadow:
      2px 2px 0 $color-title,
      2px -2px 0 $color-title,
      -2px 2px 0 $color-title,
      -2px -2px 0 $color-title,
      2px 0px 0 $color-title,
      0px 2px 0 $color-title,
      -2px 0px 0 $color-title,
      0px -2px 0 $color-title;
  }
}

@media screen and (min-width: 1000px) {
  .titre-h1 {
    font-size: 5rem;
  }
}
