@font-face {
  font-family: "anthemia";
  src: url("./assets/font/anthemia/AnthemiaRegular.ttf");
}
@font-face {
  font-family: "melinda_evania";
  src: url("./assets/font/melinda_evania/MelindaEvania.ttf");
}

$color-bg: #d6e5e3;
$color-title: #517664;
$color-nav: #cacfd6;
$color-textshadow: #77af9c;
$color-categorie: #ffffff;

.header-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  .titre-h1 {
    font-family: "anthemia";
    color: #517664;
    font-size: 2.5rem;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  font-family: "anthemia";

  a {
    text-decoration: none;
    color: #cacfd6;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: $color-title;
  }
}
