@font-face {
  font-family: "anthemia";
  src: url("./assets/font/anthemia/AnthemiaRegular.ttf");
}

@font-face {
  font-family: "melinda_evania";
  src: url("./assets/font/melinda_evania/MelindaEvania.ttf");
}

.titlePerso {
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
  font-family: "anthemia";
  margin: 20px;
  color: #517664;
  text-shadow:
    2px 2px 0 #cacfd6,
    2px -2px 0 #cacfd6,
    -2px 2px 0 #cacfd6,
    -2px -2px 0 #cacfd6,
    2px 0px 0 #cacfd6,
    0px 2px 0 #cacfd6,
    -2px 0px 0 #cacfd6,
    0px -2px 0 #cacfd6;
}
.perso {
  display: flex;
  flex-direction: column;
  border: 10px groove black;
  margin: 10px;
  border-radius: 5px;
  border-top: 10px groove #517664;
  border-right: 10px ridge #517664;
  border-bottom: 10px ridge #517664;
  border-left: 10px groove #517664;
  .divPerso {
    display: flex;
    img {
      width: 200px;
      height: auto;
      margin: 15px;
      border-radius: 20px;
    }
    ul {
      margin: 15px;
      padding: 50px;
      li {
        padding: 10px;
        list-style: none;
        font-family: "melinda_evania";
        font-size: 1.8em;
      }
    }
  }
  .button {
    border-radius: 10px;
    font-size: 0.8em;
    border: 8px double#cacfd6;
    cursor: pointer;
  }
  .button:hover {
    background: white;

    color: #517664;
  }
  .divButton {
    margin: 20px;

    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (width <= 900px) {
  .divPerso {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
